Trong baì viết này sẽ giới thiệu 2 loại dữ liệu

### A. Dữ liệu phân loại ( Categorical data)
### B. Dữ liệu thời gian ( Datetime data)

### A.  Dữ liệu phân loại Categorical data 

1. Dữ liệu phân loại là gì?

Là thuộc tính dữ liệu giúp cho việc phân loại riêng biệt của một tập các danh mục hoặc lớp. Có 2 loại chính trong dữ liệu phân loại đó là: danh nghĩa và thứ tự.

Đối với loại dữ liệu danh nghĩa thì sẽ không có khái niệm thứ tự: chẳng hạn như danh mục thời tiết gồm có: gió, mưa, mây, nắng, lạnh, tuyết. Thì không có loại nào đứng trước loại nào.

Ví dụ: Thể loại phim: Cổ trang, Hàn Quốc, Lãng mạn, Trinh Thám, Cảnh sát hình sự, Tài liệu.....

Còn đối với loại dữ liệu phân loại loại thứ tự. 

Ví dụ: Size của áo: XS, S, M, L, XL, XXL

2. Xử lí dữ liệu phân loại thế nào?

Chuẩn hóa dữ liệu danh mục chúng ta áp dụng mô hình one hot encoding tương tự như việc mã hóa nhãn của bài toán phân loại trong mô hình mạng nơ rơn CNN.

Chẳng hạn ta có tập các danh mục môn thể thao:

In [1]:
sports = ['Soccer', 'Volleyball', 'Badminton', 'Basketball','Tenis', 'Golf', 'Esports']

from sklearn.preprocessing import LabelEncoder

gle = LabelEncoder()
genre_labels = gle.fit_transform(sports)
genre_mappings = {index: label for index, label in enumerate(gle.classes_)}
genre_mappings

{0: 'Badminton',
 1: 'Basketball',
 2: 'Esports',
 3: 'Golf',
 4: 'Soccer',
 5: 'Tenis',
 6: 'Volleyball'}

Đối với dữ liệu phân loại thứ tự như các size quần áo ta chuẩn hóa như sau:

In [5]:
sizes = ['XS', 'S', 'M', 'L', 'XL', 'XXL']

sizes_mapping = {'XS': 0, 'S': 1, 'M': 2, 'L': 3, 'XL':4, 'XXL':5}
for value, key in enumerate(sizes_mapping):
    print(key, " :  ", value)

XS  :   0
S  :   1
M  :   2
L  :   3
XL  :   4
XXL  :   5

Thực hiện việc xử lí trên tập data có sẵn vgsacle.cvs

In [9]:
import pandas as pd 
import numpy as np

# read frame data

frames = pd.read_csv('vgsales.csv')
frames.iloc[:10]

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
5,6,Tetris,GB,1989.0,Puzzle,Nintendo,23.20,2.26,4.22,0.58,30.26
6,7,New Super Mario Bros.,DS,2006.0,Platform,Nintendo,11.38,9.23,6.50,2.90,30.01
7,8,Wii Play,Wii,2006.0,Misc,Nintendo,14.03,9.20,2.93,2.85,29.02
8,9,New Super Mario Bros. Wii,Wii,2009.0,Platform,Nintendo,14.59,7.06,4.70,2.26,28.62
9,10,Duck Hunt,NES,1984.0,Shooter,Nintendo,26.93,0.63,0.28,0.47,28.31

Quan sát dữ liệu ta thấy trường Genre là dữ liệu phân loại danh mục nên ta tiến hành mã hóa chúng

In [5]:
from sklearn.preprocessing import LabelEncoder
gle = LabelEncoder()
genre_labels = gle.fit_transform(frames['Genre'])
genre_mappings = {index: label for index, label in 
                  enumerate(gle.classes_)}
genre_mappings

{0: 'Action',
 1: 'Adventure',
 2: 'Fighting',
 3: 'Misc',
 4: 'Platform',
 5: 'Puzzle',
 6: 'Racing',
 7: 'Role-Playing',
 8: 'Shooter',
 9: 'Simulation',
 10: 'Sports',
 11: 'Strategy'}

Thực hiện mã hóa xong tiến hành tạo 1 thêm 1 cột vào dữ liệu tên cột là 'GenreLable'

In [7]:
frames['GenreLabel'] = genre_labels
frames[['Name', 'Platform', 'Year', 'Genre', 'GenreLabel']].iloc[1:7]

                       Name Platform    Year         Genre  GenreLabel
1         Super Mario Bros.      NES  1985.0      Platform           4
2            Mario Kart Wii      Wii  2008.0        Racing           6
3         Wii Sports Resort      Wii  2009.0        Sports          10
4  Pokemon Red/Pokemon Blue       GB  1996.0  Role-Playing           7
5                    Tetris       GB  1989.0        Puzzle           5
6     New Super Mario Bros.       DS  2006.0      Platform           4

Đôi với dữ liệu phân loại thứ tự phương pháp mã hóa áp dụng đó sẽ là one-hot-vector (nó sẽ nắm bắt được vị trí và tính phân loại của từng danh mục). Còn dữ liệu phân loại bên trên ta không quan tâm thứ tự cái nào trước cái nào sau của dữ liệu.

In [11]:
pokemon_frames = pd.read_csv('Pokemon.csv')
pokemon_frames.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [16]:
# Thực hiện phân tích trường nghi vấn Generation.
import numpy as np
unique_value = np.unique(pokemon_frames['Generation'].tolist())
unique_value

array([1, 2, 3, 4, 5, 6])

Nhận xét tất cả trường thông tin có 6 thế hệ từ 1 đến 6. Chúng có thứ tự và thứ hạng các thế hệ cách mã hóa one-hot-vector sẽ đc áp dụng như sau:

Trong TH các trường kia có thứ tự nhưng chưa chuẩn hóa dạng label ta cần LabelEncoder trước.

In [25]:
le = LabelEncoder()
feature_le = le.fit_transform(pokemon_frames['Generation'].tolist())
feature_le[:10]
genre_mappings = {index: label for index, label in 
                  enumerate(le.classes_)}
genre_mappings

{0: 1, 1: 2, 2: 3, 3: 4, 4: 5, 5: 6}

In [26]:
# add to frame with name_col: GenLable

pokemon_frames['GenLabel'] = feature_le

pokemon_frames.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,GenLabel
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0

In [27]:
from sklearn.preprocessing import OneHotEncoder

gen_ohe = OneHotEncoder()
gen_feature_arr = gen_ohe.fit_transform(
                              pokemon_frames[['GenLabel']]).toarray()
# gen_feature_labels = list(gen_le.classes_)
gen_feature_arr

C:\Users\trung\Anaconda3\lib\site-packages\sklearn\preprocessing\_encoders.py:415: FutureWarning: The handling of integer data will change in version 0.22. Currently, the categories are determined based on the range [0, max(values)], while in the future they will be determined based on the unique values.
If you want the future behaviour and silence this warning, you can specify "categories='auto'".
In case you used a LabelEncoder before this OneHotEncoder to convert the categories to integers, then you can now use the OneHotEncoder directly.
  warnings.warn(msg, FutureWarning)

array([[1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       [1., 0., 0., 0., 0., 0.],
       ...,
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.]])

In [31]:
gen_feature_labels = list(le.classes_)
gen_feature_labels 

gen_label = ['Gen' + str(i) for i in gen_feature_labels ]
gen_label

['Gen1', 'Gen2', 'Gen3', 'Gen4', 'Gen5', 'Gen6']

In [36]:
# add onhot to frames

gen_features_one_hot = pd.DataFrame(gen_feature_arr, 
                            columns=gen_label)
gen_features_one_hot.head()

   Gen1  Gen2  Gen3  Gen4  Gen5  Gen6
0   1.0   0.0   0.0   0.0   0.0   0.0
1   1.0   0.0   0.0   0.0   0.0   0.0
2   1.0   0.0   0.0   0.0   0.0   0.0
3   1.0   0.0   0.0   0.0   0.0   0.0
4   1.0   0.0   0.0   0.0   0.0   0.0

In [38]:
# add vào frames_gốc ban đầu.

poke_df = pd.concat([pokemon_frames, gen_features_one_hot], axis=1)
poke_df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,GenLabel,Gen1,Gen2,Gen3,Gen4,Gen5,Gen6
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False,0,1.0,0.0,0.0,0.0,0.0,0.0
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False,0,1.0,0.0,0.0,0.0,0.0,0.0
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False,0,1.0,0.0,0.0,0.0,0.0,0.0
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False,0,1.0,0.0,0.0,0.0,0.0,0.0
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False,0,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True,5,0.0,0.0,0.0,0.0,0.0,1.0
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True,5,0.0,0.0,0.0,0.0,0.0,1.0
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True,5,0.0,0.0,0.0,0.0,0.0,1.0
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True,5,0.0,0.0,0.0,0.0,0.0,1.0
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True,5,0.0,0.0,0.0,0.0,0.0,1.0

Ta thấy việc sử dụng 6 cột nhị phân mã hóa cho 6 nhãn là 0 cần thiết chúng ta có thể bỏ đi cột 1 hoặc cột 6 khi đó trường hợp rơi vào nhãn 1 hoặc 6 tau được vector 0.

In [42]:
gen_onehot_features = pd.get_dummies(poke_df['Generation'])
gen_onehot_features
pd.concat([poke_df[['Name', 'Generation']], gen_onehot_features], 
           axis=1).iloc[4:10]

                        Name  Generation  1  2  3  4  5  6
4                 Charmander           1  1  0  0  0  0  0
5                 Charmeleon           1  1  0  0  0  0  0
6                  Charizard           1  1  0  0  0  0  0
7  CharizardMega Charizard X           1  1  0  0  0  0  0
8  CharizardMega Charizard Y           1  1  0  0  0  0  0
9                   Squirtle           1  1  0  0  0  0  0

In [43]:
gen_onehot_features = pd.get_dummies(poke_df['Generation'])
gen_dummy_features = gen_onehot_features.iloc[:,:-1]
pd.concat([poke_df[['Name', 'Generation']], gen_dummy_features],  
          axis=1).iloc[4:10]

                        Name  Generation  1  2  3  4  5
4                 Charmander           1  1  0  0  0  0
5                 Charmeleon           1  1  0  0  0  0
6                  Charizard           1  1  0  0  0  0
7  CharizardMega Charizard X           1  1  0  0  0  0
8  CharizardMega Charizard Y           1  1  0  0  0  0
9                   Squirtle           1  1  0  0  0  0

Trong TH có quá nhiều nhãn nếu sử dụng onhot chúng ta cần n-1 vector nhị phân ta có một phuwogn pháp.

In [50]:
from sklearn.feature_extraction import FeatureHasher
fh = FeatureHasher(n_features=6, input_type='string')
hashed_features = fh.fit_transform(frames['Genre'])
hashed_features = hashed_features.toarray()
pd.concat([frames[['Name', 'Genre']], pd.DataFrame(hashed_features)], 
          axis=1).iloc[1:7]

                       Name         Genre    0    1    2    3    4    5
1         Super Mario Bros.      Platform  0.0  2.0  2.0 -1.0  1.0  0.0
2            Mario Kart Wii        Racing -1.0  0.0  0.0  0.0  0.0 -1.0
3         Wii Sports Resort        Sports -2.0  2.0  0.0 -2.0  0.0  0.0
4  Pokemon Red/Pokemon Blue  Role-Playing -1.0  1.0  2.0  0.0  1.0 -1.0
5                    Tetris        Puzzle  0.0  1.0  1.0 -2.0  1.0 -1.0
6     New Super Mario Bros.      Platform  0.0  2.0  2.0 -1.0  1.0  0.0